
<p>
  <mat-toolbar color="primary">
      <span>Developer DashBoard</span>
      <span class="example-spacer"></span>
     <div class="navbar">
       <button mat-button color="accent">about</button>
       <button mat-button color="accent">Blogs</button>
       <button mat-button color="accent">Login</button>
     </div>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
  </mat-toolbar>
</p>

<div  class="container">
<div color="accent">
  top content
<button mat-button bgcolor="primary">Hello</button>
<div class="row">
  <div class="col-md-2">left side content </div> 
  <!--<div class="col-md-8"> main content  with complete line fit the content of page end of line.make sure content should  reach to second line of code </div >-->
  <div class="col-md-8">
<router-outlet></router-outlet> 
  </div>
  <div class="col-md-2"> right side content</div>
</div>
</div>
  
  
</div>

