.example-spacer {
  flex: 1 1 auto;
}
.navbar {
    justify-content: space-between;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.leftpane{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 400px;
    float: left;
   // background-color: rosybrown;
    border-collapse: collapse;
}
.middlepane{
   width: 50%;
   min-width: 800px;
   height: available;
   min-height: 650px;
   float: left; 
//    background-color: royalblue;
   border-collapse: collapse;
}
.rightpane{
    width: available;
    height: available;
    position: relative;
    //margin-left: 75%;
   // background-color: yellow;
    border-collapse: collapse;
}
