/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';
@include mat-core();
$dev-dashboard-primary: mat-palette($mat-orange,900,900);
$dev-dashboard-accent:  mat-palette($mat-gray, 100, 100, A100);

// The warn palette is optional (defaults to red).
$dev-dashboard-warn:    mat-palette($mat-deep-orange);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$dev-dashboard-theme: mat-light-theme((
  color: (
    primary: $dev-dashboard-primary,
    accent: $dev-dashboard-accent,
    warn: $dev-dashboard-warn,  
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dev-dashboard-theme);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
